@font-face {
  font-family: "Satoshi-Variable";
  src: url("./asset/Satoshi-Variable.ttf") format("truetype");
}
@font-face {
  font-family: "ClashDisplay";
  src: url("./asset/ClashDisplay-Variable.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Satoshi-Variable";
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  height: 1.8rem;
  margin-bottom: 8rem;
}
.navicon {
  float: right;
  width: 3rem;
  height: 80%;
  vertical-align: middle;
}
.logo {
  height: 100%;
}
#navbarslide {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
@keyframes slide-in {
  from {
    top: -100vh;

  }
  to {
    top: 0;
  }
}
@keyframes slide-out {
  from {
    top: 0;

  }
  to {
    top: -100vh;
  }
}
.original{
  top: -100vh;  
  animation: 0.5s slide-out  linear;
}
.clicked{
  top: 0;
  animation: 0.5s slide-in  linear;

}

#mobile-items {
  margin-top: 18vh;
  font-size: 2rem;
  color: white;
  display: block;
}
#mobile-items li {
  list-style-type: none;
  margin-top: 2rem;
}
#title {
  margin-top: 0;
  font-size: 2.8rem;
  line-height: 3.5rem;
  text-align: center;
}
.black-bg {
  color: white;
  background-color: black;
  border-radius: 2rem;
}
.navicon1 {
  float: right;
  width: 4rem;
  height: 100%;
  vertical-align: middle;
}
.text {
  text-align: center;
  width: 80vw;
  font-size: 1.1rem;
  margin: auto;
  line-height: 1.5rem;
}
.btn {
  width: 80vw;
  display: block;
  margin: auto;
  background-color: #dd0913;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 4rem;
}

.page {
  width: 100%;
  margin-left: 0;
  border-radius: 2rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: auto;
}
.page1 {
  background-color: #f8f4f4;
}
.page1 h3,
.page3 h3 {
  padding-top: 2rem;
}
.page .text {
  text-align: left;
}
.page .btn {
  color: #dd0913;
  background-color: transparent;
  border: 2px solid #dd0913;
  height: 3rem;
  font-family: "Satoshi-Variable";
  font-weight: 600;
  margin-bottom: 0;
}
.icon3 {
  position: absolute;
  top: 25rem;
}
.icon2 {
  position: absolute;
  top: 7rem;
  right: 0;
}
@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide {
  white-space: nowrap;
  overflow: hidden;
}
.logo-slider,
.review-slider {
  display: inline-block;
  margin-top: 5rem;
  animation: 5s slider infinite linear;
}

.logo-slider img {
  width: 14rem;
  display: inline-block;
  margin: 0, 1rem;
  height: 6rem;
}

.page2 {
  top: -4rem;
  background-color: #0b0b0b;
  color: #f4f4f4;
  margin-bottom: -6rem;
}
.first {
  padding-top: 4rem;
}
h3 {
  font-family: 'ClashDisplay';
  width: 80vw;
  margin: 2rem auto;
  text-align: left;
  font-size: 2rem;
  font-weight: 550;
  font-stretch: ultra-expanded;
}

.page2 h2 {
  font-size: 4rem;
  margin: 0 10vw;
  margin-top: 5rem;
}
.pink-bg {
  background-color: #ffcccc;
  border-radius: 2rem;
  color: #0b0b0b;
  padding: 0 2px;
}
.page2 img {
  margin: 3rem auto;
  width: 76vw;
  height: auto;
  display: block;
  border-radius: 1rem;
  border: #2b2b2b solid 2vw;
}
.page3 {
  background-color: #2b2b2b;
  top: -4rem;
  color: #f4f4f4;
  margin-bottom: -2rem;
}
.btn-group {
  max-width: 80vw;
  margin: auto;
}
.btn-group button {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #f4f4f4;
  height: 2rem;
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 2rem;
  padding: 0 1.2rem;
}
.page3 p {
  margin: 2rem 0;
}

.btn-image {
  width: 78vw;
  border: #333333 1vw solid;
  background-color: #333333;
  margin: auto;
  padding-bottom: 2rem;
}
.btn-image img {
  width: 78vw;
}
.btn-image p {
  width: 85%;
  padding: 0 0 0 2%;
}
.hide {
  display: none;
}

.review-card {
  background: #f5f5f5;
  display: inline-block;
  width: 60vw;
  overflow: auto;
  height: 14rem;
  border-radius: 1rem;
  margin-right: 1rem;
}
.review-card img {
  margin: 1.5rem auto;
  text-align: center;
  width: 3rem;
  height: auto;
  display: block;
}
.review-card .caption {
  width: 60%;
  font-size: 0.8rem;
  margin: auto;
  font-weight: 700;
  text-align: center;
  white-space: normal;
}

.review-name {
  text-align: center;
}
.page5 {
  background-color: #fff0f0;
  overflow: auto;
}
.page5 p,
.page6 p,
.page7 p {
  width: 80vw;
  margin: 0 auto;
  font-size: 1rem;
}
#image-slider {
  white-space: nowrap;
  margin-top: 4rem;
  height: 12rem;
  overflow-x: scroll;
}
#image-slider img {
  height: 95%;
  display: inline-block;
  border-radius: 1rem;
  background-color: transparent;
}
.page6 {
  position: relative;
  top: -8rem;
  background-color: #f4f4f4;
  margin-bottom: -8rem;
  padding-bottom: 4rem;
}
.page6 h3 {
  margin-top: 8rem;
}
#collage {
  display: grid;
  margin: 1rem  auto;
  grid-template-areas:
    "area1 area1 area1 area2 area2"
    "area1 area1 area1 area3 area3";
  width :80vw;
}
.collage1{grid-area:area1;}
.collage2{grid-area:area2;}
.collage3{grid-area:area3;}
.page7 p {
  text-align: center;
}
.page7 {
  background-color: #ffffff;
  z-index: 2;
}

.subscribe {
  width: 80vw;
  margin: 2rem auto;
  border-radius: 2rem;
  border: #e6e6e6 solid 2px;
  background-color: #e6e6e6;
  box-shadow: 0 4px 20px -2px #e9e9e9;
}

.subscribe input {
  display: inline;
  width: 64%;
  height: 2.5rem;
  border: 0;
  background: #e6e6e6;
  border-radius: 40px;
  border-top-style: none;
}
::placeholder {
  padding-left: 1rem;
}
.subscribe button {
  height: 2.5rem;
  border: 0;
  display: inline;
  cursor: pointer;
  width: 32%;
  background-color: #dd0913;
  color: #ffffff;
  border-radius: 2rem;
  padding: 0 9% 0 7%;
}
.page8 {
  background-color: #0b0b0b;
  margin-top: -2rem;
  border-radius: 0;
  color: #ffffff;
  z-index: 1;
  padding-bottom: 6rem;
}
.page8 img {
  margin: 4rem 10vw 0;
}
.page8 h3 {
  font-size: 1.5rem;
  width: 70vw;
  margin: 1rem 10vw;
}
#directory {
  width: 80vw;
  margin: auto;
}
.column {
  width: 32%;
  display: inline-block;
  padding: 0;
}
.column li {
  list-style-type: none;
  margin-top: 1rem;

  font-size: 1rem;
}
.page8 p {
  width: 80vw;
  margin: 4rem auto 0 auto;
  text-align: center;
  font-size: 1rem;
}
.white-bg {
  color: black;
  background-color: white;
  border-radius: 2rem;
}
.desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
